<div class="u-full-container bg-white common-container bill-container">

    <div bill-search></div>

    <div class="bill-category">
        <a ui-sref="bill" ui-sref-opts="{ inherit: false}"
           ng-class="{true: 'u-btn-m1', false: 'u-btn-m2'}[!stateParams.d]" class="u-btn u-btn-opt">全部</a>
        <a ui-sref="bill({d:'zuori'})"
           ng-class="{true: 'u-btn-m1', false: 'u-btn-m2'}[stateParams.d == 'zuori']" class="u-btn u-btn-opt">昨日</a>
        <a ui-sref="bill({d:'jinri'})"
           ng-class="{true: 'u-btn-m1', false: 'u-btn-m2'}[stateParams.d == 'jinri']" class="u-btn u-btn-opt">今日</a>
        <a ui-sref="bill({d:'benzhou'})"
           ng-class="{true: 'u-btn-m1', false: 'u-btn-m2'}[stateParams.d == 'benzhou']" class="u-btn u-btn-opt">本周</a>
        <a ui-sref="bill({d:'shangzhou'})"
           ng-class="{true: 'u-btn-m1', false: 'u-btn-m2'}[stateParams.d == 'shangzhou']" class="u-btn u-btn-opt">上周</a>
        <a ui-sref="bill({d:'benyue'})"
           ng-class="{true: 'u-btn-m1', false: 'u-btn-m2'}[stateParams.d == 'benyue']" class="u-btn u-btn-opt">本月</a>
        <a ui-sref="bill({d:'shangyue'})"
           ng-class="{true: 'u-btn-m1', false: 'u-btn-m2'}[stateParams.d == 'shangyue']" class="u-btn u-btn-opt">上月</a>
    </div>

    <div class="common-table bill-table">
        <!--简易数据表格-->
        <table class="m-table m-table-row">
            <thead>
            <tr>
                <th>订单号</th>
                <th>用餐时间</th>
                <th>用餐人数</th>
                <th>用餐桌号</th>
                <th>操作人</th>
                <th>点餐详情</th>
                <th>点餐价格</th>
                <th>查看详情</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in vm.data.list">
                <td>{{item.tradeNo}}</td>
                <td>{{item.time}}</td>
                <td>{{item.peopleNumber}}</td>
                <td>{{item.deskNumber}}</td>
                <td>{{item.operateUser}}</td>
                <td>{{item.menuNum}}项</td>
                <td>{{item.price}}元</td>
                <td><a ng-click="vm.showDialog(item.id)" class="u-btn u-btn-t3">查看</a></td>
            </tr>
            </tbody>
        </table>
        <div ui-pagination total-page="vm.data.totalPage" current-page="stateParams.page"></div>
    </div>
    <div class="bill-total" ng-if
    ="vm.data.totalPrice">共计 <span class="high">￥{{vm.data.totalPrice}}</span> 元</div>
</div>


<div class="m-layer m-layer-dialog bill-dialog" ng-class="{ 'm-layer-show' : vm.isShow }">
    <div class="lymask"></div>
    <table class="lytable">
        <tbody>
        <tr>
            <td class="lytd">
                <div class="lywrap">
                    <div class="lyct" ui-scroll style="max-height: 800px;">
                        <div class="dialog">
                            <div class="close" ng-click="vm.closeDialog()"></div>
                            <div class="title">
                                <div class="zhuo-num">
                                    台号：<span class="high">{{vm.detail.deskNumber}}</span>
                                </div>
                                <div class="user">{{globals.currentShop}}</div>
                            </div>
                            <table class="m-table m-table-row">
                                <thead>
                                <tr>
                                    <th class="f-tal">名称</th>
                                    <th>数量</th>
                                    <th>价格</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr ng-repeat="menu in vm.detail.menuList">
                                    <td class="f-tal">
                                        <div class="name">{{menu.name}}</div>
                                        <div class="tags">
                                            <span ng-repeat="attr in menu.attributes">
                                                {{attr.value}}
                                            </span>
                                        </div>
                                    </td>
                                    <td>{{menu.number}}</td>
                                    <td>￥ {{menu.totalPrice}}</td>
                                </tr>

                                </tbody>
                            </table>
                            <div class="total f-cb">
                                <div class="time f-fl">{{vm.detail.created}}</div>
                                <div class="price f-fr">总金额：<span class="high">￥{{vm.detail.price}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
