    <div class="m-layer m-layer-show m-layer-dialog bingtai-dialog">
        <div class="lymask"></div>
        <table class="lytable"><tbody><tr><td class="lytd">
        <div class="lywrap">
        <div class="lyct">
            <div class="dialog">
                <form action="" my-validform ok="fn_union_success()" err="fn_error_callback">
                    <div class="title">添加并台</div>
                    <div class="close" ng-click="fn_close()"></div>
                    <div class="zhuo-opt">
                        <div class="f-ib">
                            <span>第</span>
                            <input type="text" class="u-ipt u-ipt-s1" ng-model="page.desk.from_desk" datatype="*" nullmsg="桌号不能为空" ng-readonly="fn_iscancel()"/>
                            <span>桌</span>
                        </div>
                        <div class="change-icon f-ib"></div>
                        <div class="f-ib">
                            <span>第</span>
                            <input type="text" class="u-ipt u-ipt-s1" ng-model="page.desk.to_desk" datatype="*" nullmsg="桌号不能为空"  ng-readonly="fn_iscancel()"/>
                            <span>桌</span>
                        </div>
                    </div>
                    <div class="u-errormsg u-ipt-err u-errormsg_h1 u-abs" ng-if="page.message">{{page.message}}</div>
                    <div class="zhuo-opt-btns">
                        <a ng-click="fn_close()" class="u-btn u-btn-dialog u-btn-d1"><i class="iconfont icon-closed2"></i>取消</a><button ng-if="fn_iscancel() == false" class="u-btn u-btn-dialog u-btn-d2" ng-click="fn_union()" type="submit"><i class="iconfont icon-ok"></i>确定</button><a class="u-btn u-btn-dialog u-btn-d2" ng-click="fn_union_cancel()"  ng-if="fn_iscancel()" type="submit"><i class="iconfont icon-ok"></i>撤销</a>
                    </div>
                </form>
            </div>
        </div>
        </div></td></tr></tbody></table>
    </div>
