    <div class="m-layer m-layer-show login-form">
        <div class="lymask"></div>
        <table class="lytable"><tbody><tr><td class="lytd">
        <div class="offset">
            <div class="login-icon"></div>
            <div class="lywrap">
            <div class="lytt">简单点<span class="high">·</span>商家登录</div>
            <form class="form" ui-validform>
                    <div class="ele">
                        <input type="text" class="u-ipt" ng-model="vm.username" placeholder="请输入用户名" datatype="*" nullmsg="请输入用户名"/>
                        <div class="u-errormsg f-ib f-dn"></div>
                    </div>
                    <div class="ele">
                        <input type="password" class="u-ipt" ng-model="vm.password" placeholder="请输入密码" datatype="*" nullmsg="请输入密码"/>
                        <div class="u-errormsg f-ib f-dn"></div>
                    </div>
                    <div class="btn">
                        <!--通用自定义按钮-->
                        <input type="submit" value="登录" />
                    </div>
                    <div class="msg"><span>联系客服</span></div>
            </form>
            </div>
        </div>
        </td></tr></tbody></table>
    </div>
